/* Default Variables */
$header-font:"old-standard",serif;
$body-font: "proxima-nova",sans-serif;
$button-font: "proxima-nova",sans-serif;

/* Form and Button Styling */
$button-radius: 0;
$form-radius: 0;
$line-height-desktop: 60px;
$line-height-mobile: 48px;

$base-fontsize: 18px;
$base-lineheight: 1.5em;

$max-width: 1160px;
$body-background: #fff;

$transition: .25s;

/* Colors */
$default: #333;
$light-grey: #555;
$btn-color: $default;
$facebook-blue: #3b5998;
$twitter-blue: #00ACEE;
$highlight: #5575A3;
$blue: #2C3C54;
$astro: #284269;
$skyblue: #C0DDFF;