<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W9KHLFR');</script>
  <!-- End Google Tag Manager -->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta property="og:type" content="website" />

  <title>{{ .Title | plainify }} | {{ .Site.Title }}</title>
  <meta name="twitter:title" content="{{ .Title | plainify }} | {{ .Site.Title }}" />
  <meta property="og:title" content="{{ .Title | plainify }} | {{ .Site.Title }}" />
  <meta property="og:site_name" content="{{ .Title | plainify }} | {{ .Site.Title }}" />

  <meta name="description" content="{{ .Description | plainify }}" />
  <meta property="og:description" content="{{ .Description | plainify }}" />
  <meta name="twitter:description" content="{{ .Description | plainify }}" />

  <meta property="og:url" content="{{ .Permalink }}" />
  <meta name="twitter:url" content="{{ .Permalink }}" />

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {{ if .Params.og_img }}
  <meta property="og:image" content='{{ .Site.BaseURL }}/{{ .Param "og_img" }}' />
  <meta property="twitter:image" content='{{ .Site.BaseURL }}/{{ .Param "og_img" }}' />
  {{ else }}
  <meta property="og:image" content="{{ .Site.BaseURL }}/img/og-img.png" />
  <meta property="twitter:image" content="{{ .Site.BaseURL }}/img/og-img.png" />
  {{ end }}
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />
  <meta name="twitter:card" content="summary_large_image" />

  {{ if isset .Site.Params "twitter_user" }}
  <meta name="twitter:site" content="@{{ .Site.Params.twitter_user }}" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter_user }}" />
  {{ end }}

  <script id="defer-js" src="https://cdn.jsdelivr.net/npm/@shinsenter/defer.js@2.5.0/dist/defer_plus.min.js"></script>

  <script type="text/javascript">
    // This will lzay-load FontAwesome icons
    deferstyle('//use.fontawesome.com/releases/v5.8.2/css/all.css', 'fontawesome-css', 100);
  </script>


  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.29/default/snipcart.css" />

  <script type="text/javascript">
    // This will lzay-load FontAwesome icons
    deferstyle('//use.typekit.net/jrp3tfu.css', 'typekit-css', 100);
  </script>

  {{ $sass := resources.Get "css/style.scss" }}
  {{ $style := $sass | resources.ToCSS | minify }}

  <link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">

  <style>
    @media (min-width: 1200px) {
      .needLeftMargin {
        margin-left: -20px;
        padding-right: 100px;
      }
    }

    @media (min-width: 1500px) {
      .needLeftMargin {
        margin-left: -170px;
        padding-right: 200px;
      }
    }

    @media (min-width: 1200px) {
      .negativeMargin {
        margin-left: -70px;
      }
    }
  </style>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Global site tag (gtag.js) - Google Ads -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-303269570"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-303269570');
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RKSBB33WJ1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-RKSBB33WJ1');
  </script>

  <!-- Meta Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1690291467798680');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1690291467798680&ev=PageView&noscript=1" /></noscript>
  <!-- End Meta Pixel Code -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

    .inria {
      font-family: "Inria Serif", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>

</head>