<form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint }}' method="POST" class="row">

    <input type="hidden" name="utm_source" value="">
    <input type="hidden" name="utm_medium" value="">
    <input type="hidden" name="utm_campaign" value="">

    <div class="col col-12 col-md-12 labelToggle">
        <label for="email_signup">Your Email Address*</label>
        <input type="email" id="email_signup" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
    </div>

    <div class="col col-12 col-md-8 labelToggle">
        <label for="full_name">First Name*</label>
        <input type="text" id="full_name" class="formField" name="full_name" placeholder="ex. John Doe" required>
    </div>

    <div class="col col-12 col-md-4">
        <button type="submit" class="button">I’m In</button>
    </div>

</form>